/* Usando o media queries para torna o site responsivos*/
/* Tela de tablet*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /* Qualidade Home */
  /* Diminuir o padding dos texto de qualidade */
  .qualidade li {
    text-align: center;
    padding: 0 10px;
  }

  /* Footer */

  .footer_redes ul li a {
    border: 3px solid $cor-primary;
    display: block;
    padding: 5px;
  }
  .footer_redes ul li a img {
    right: 26px;
    height: 26px;
  }

  /* Produtos*/

  .produto-item h2 {
    top: -150px;
    margin-bottom: -50px;
  }
  .produto-icone {
    padding: 41px 0;
  }
  .produto-info p {
    @include type-1(14);
    padding: 20px 20px;
    height: 121px;
  }
  .produto-info ul li {
    width: 181px;
    height: 49px;
  }
} /* Final do estilo para tabletes*/

/* tela de mobile */
@media only screen and (max-width: 787px) {
  /* Header*/

  .header {
    position: relative; /* tirar do fixo, para ele sumir conforme rolar a pagina*/
    padding-bottom: 0px;
  }
  .header img {
    margin: 0 auto 10px auto; /* ajustar o logo automatico */
  }
  .header_menu {
    text-align: center;
  }
  .header_menu ul li {
    display: inline-block;
    margin: 7px 5px 3px 0;
  }
  .header_menu ul li a {
    border: 4px solid #000;
    width: 120px;
    display: block;
  }
  .header_menu ul li a:hover {
    border-color: $cor-secundary-2;
  }
  .header_menu ul li a.menu_ativo {
    border-color: $cor-secundary-2;
  }

  /* Introdução*/

  .introducao h1 {
    @include type-1(36);
  }

  .introducao {
    margin-top: 0px;
    padding-top: 60px;
    background: url("../img/bg-mobile.jpg") no-repeat center;
  }

  /*Introdução interna */

  .introducao-interna {
    margin-top: 0px;
  }

  /* Call*/

  .call {
    padding-top: 10px;
  }

  /* Sobre*/

  .misao_sobre p {
    @include type-1(14);
    padding-right: 0px;
  }
  .misao_sobre ul li {
    @include type-1(14);
    line-height: 25px;
  }

  /* Produtos*/

  .produto-item h2 {
    @include type-1(24);
    top: -100px;
    margin-bottom: -50px;
  }
  .produto-icone {
    padding: 41px 0;
  }
  .produto-info p {
    @include type-1(14);
    padding: 20px 20px;
    height: auto;
  }
  .produto-info ul li {
    width: 149px;
    height: 49px;
    @include type-1(14);
  }

  /* Formulario */

  .form {
    padding-right: 0px;
  }
  .orcamento_dados ul {
    padding-right: 0px;
  }

  /* Contato*/

  .contato_form {
    padding-right: 0px;
    margin-bottom: 40px;
  }

  /* Mapa*/

  .endereco {
    padding: 0px 0 60px 0;
  }
} /* Final do estilo para mobile*/
